extends ../layout.pug

block content
  div(class='breadcrumb')
    div Колекції
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-star')
      a(href='/allPlanets') Planets
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-star')
      a(href='/allGoods') Goods
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-star')
      a(href='/allSpace_stations') Space_stations
    div.list-group-item
        span(class='list-icon glyphicon glyphicon-star')
        a(href='/allDelivered_goods') Delivered_goods
