extends ../../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    each val in data
        p= 'Код ' + val.code
        p= 'Назва планети ' + val.planets_name
        p='Номер станції '+ val.station_code
        br
