extends ../../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    each val in data
        p= 'Планета ' + val.namep
        p= ' Місткість ' + val.capacity
        p= ' Вага ' + val.mass
        br
